*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}
.container{
    display: flex;
    /* width: 100%;*/
    justify-content:flex-start ;
    align-items: center;

}
.block {
    height: 100px;
    width: 100px;
    border: 1px solid;
    background-color: blueviolet;
    margin-top: 20px;
}